input[type=number] {
	margin-bottom: 20px;
	font-size: 16pt;
	text-align: center;
}
input[type=button] {
	width: 60px;
	height: 30px;

}
form {
	width: 60%;
	margin-top: 10%;
	margin-right: 20%;
	margin-left: 20%;
	text-align: center;
}
body {
	box-sizing: border-box;
}
