html {
  font-family: "Helvetica Neue", sans-serif;
  width: 100%;
  text-align: center;
}

.popupOverlay.active {
  visibility: visible;
  text-align: center;
}

.popupContent.active {
  visibility: visible;
}


.popupOverlay {
  visibility: hidden;
  position: absolute;
  width: 50%;
  height: 50%;
  left: 25%;
  background: #ffffff;
  border: 3px solid #666666;
}
.popupOontent {
  visibility: hidden;
}

button {
  display: inline-block;
  vertical-align: middle;
  border-radius: 30px;
  margin: .20rem;
  font-size: 1rem;
  color: #666666;
  background: #ffffff;
  border: 1px solid #666666;
}

#eChange:hover {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333333;
  overflow: hidden;
  width: 100%;
  height: 5%;
}

li.nav {
  float: left;
  padding: 2%;
  width: 10%;
}

li a {
  font-size: 100%;
  display: block;
  text-decoration: none;
  color: #FFFFFF;
}

