SONGLIST {
	font-family: sans-serif;
	line-height: 1.5;
	margin-top: 3cm;
	margin-left: 3cm;
	margin-right: 3cm;
	display: block;
}

SONG {
	display: block;
}

TITLE {
	text-decoration: underline;
	color: red;
	display: block;
}

ARTIST {
	color: blue;
	display: block;
}

GENRE {
	color: green;
	display: block;
}

DATE {
	color: brown;
	display: block;
}

