SONGLIST {
	font-family: sans-serif;
	line-height: 1.5;
	margin-bottom: 1cm;
	margin-top: 1cm;
	margin-left: 3cm;
	margin-right: 3cm;
	display: block;
}

SONG {
	display: block;
	border: 1px solid black;
	background-color: lightblue;
}

TITLE {
	padding-left: 1px;
	text-decoration: underline;
	color: red;
	display: block;
}

ARTIST {
	color: blue;
	display: block;
}

GENRE {
	color: green;
	display: block;
}

DATE {
	color: brown;
	display: block;
}

TITLE:before {
	content: "Song: ";
}

ARTIST:before {
	content: "Artist: ";
}

GENRE:before {
	content: "Genre: ";
}

DATE:before {
	content: "Release Year: ";
}
